*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
}

.day_container{
  width: 50%;
  text-align: left;
  position: relative;
  top: 45px;
  left: 5%;
}

.day_container p{
  font-size: 15px;
  font-weight: bolder;
}
